    body {
        background-color: rgb(238, 227, 237);
    }   

    h1 {
        color: darkorange;
    }

    h3 {
        color: darkorange;

    }

    hr {
        border-style:none;
        border-top-style:dotted;
        border-color: grey;
        border-width: 5px;
        width: 5%;
    }
